*.ipr
*.iml
*.iws
*.class

.gradle
.project
.classpath

.idea/*
.settings/*

build
out

proto-common/.classpath
proto-common/.project
proto-common/.settings/*
proto-common/bin
proto-common/bin/*

proto-someapplication-common/.classpath
proto-someapplication-common/.project
proto-someapplication-common/.settings/*
proto-someapplication-common/bin
proto-someapplication-common/bin/*
